*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f8c9c4;
}
ul{
    list-style:none
}
a{
    text-decoration: none;
}

.container{
    max-width: 1000px;
    margin: auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}

header{
    height: 80px;
    box-sizing: border-box;
    padding-top: 25px;
    background-color: #FA7E6B;
}
.logo{
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    color: #c72126;
    font-weight: bold;
}
.navigation{
    padding: 15px;
    background-color: #fa9889;
}
.nav-h2{
    color: white;
    font-size: 28px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.nav-ul a{
    color: #c72126;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 18px;
    width: 100%;
    display: block;
}
.item-sec{
    padding: 15px 0;
}
.item-line{
    margin-bottom: 50px;
}
.item{
    width: 30%;
    padding: 10px;
    border: #c72126 solid 2px;
    border-radius: 8px;
    background-color: #fde2dd;
}
.item img{
    width: 100%;
}
.item a{
    color: #fff;
    background-color: #c72126;
    padding: 5px;
    font-size: 28px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
    border-radius: 8px;
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.item-h3{
    color: #c72126;
    font-size: 28px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
footer{
    height: 50px;
    background-color: #c72126;
}
.del-div{
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: #c72126 solid 2px;
    border-radius: 8px;
    background-color: #fde2dd;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.del-p{
    font-family: "Bebas Neue", sans-serif;
    font-size: 16px;
    color: #2d0e0e;
}
.soft-img{
    width: 25%;
}
.soft-p{
    width: 50%;
}