*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f8c9c4;
}
ul{
    list-style:none
}
a{
    text-decoration: none;
}

.container{
    max-width: 1000px;
    margin: auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}

header{
    height: 80px;
    box-sizing: border-box;
    padding-top: 25px;
    background-color: #FA7E6B;
}
.logo{
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    color: #c72126;
    font-weight: bold;
}
.navigation{
    padding: 15px;
    background-color: #fa9889;
}
.nav-h2{
    color: white;
    font-size: 28px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.nav-ul a{
    color: #c72126;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 18px;
    width: 100%;
    display: block;
}